<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Fatura</nb-card-header>
      <nb-card-body>
        <div class="flex-centered">
          <form>

            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label for="codUsuario">ID Usúario</label>
                  <input type="number" class="form-control" name="codUsuario" [(ngModel)]="faturaSelecionada.idUsuario" placeholder="ID Usúario">
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label for="nomeEmpresa">Empresa</label>
                  <input type="string" class="form-control" name="nomeEmpresa" [(ngModel)]="faturaSelecionada.nomeEmpresa" placeholder="Empresa">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="valor">Valor</label>
                  <input currencyMask class="form-control" name="vlrFatura" [(ngModel)]="faturaSelecionada.valor"  placeholder="Valor">
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="dtVencimento">Data Vencimento</label>
                    <input nbInput name="dtVencimento" [(ngModel)]="faturaSelecionada.dataVencimento"
                           placeholder="Data Vencimento"
                           [nbDatepicker]="formpicker">
                    <nb-datepicker #formpicker></nb-datepicker>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <nb-checkbox [value]="faturaSelecionada.pago" #pagoChield>Pago</nb-checkbox>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <button class="btn btn-block btn-info btn-icon input-group-text" (click)="onChangeLimpar()">
                    <i class="nb-trash"></i> Limpar
                  </button>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <button class="btn btn-block btn-primary btn-icon input-group-text" (click)="onChangeCadastrar()">
                    <i class="nb-paper-plane"></i> Salvar
                  </button>
                </div>
              </div>




            </div>

          </form>
        </div>
      </nb-card-body>
    </nb-card>




    <nb-card>
      <nb-card-header>Faturas</nb-card-header>
      <nb-card-body>
        <div class="flex-centered">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="tabela-tamanho-reduzido">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID Fatura</th>
                        <th scope="col">ID Usuario</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data Venc</th>
                        <th scope="col">Pago</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let fatura of faturas">
                        <th scope="row">
                          <button class="btn btn-primary btn-icon input-group-text" (click)="onChangeSelecionarFatura(fatura)">
                            <i class="nb-plus"></i>
                          </button>
                        </th>
                        <td>{{fatura.idFatura}}</td>
                        <td>{{fatura.idUsuario}}</td>
                        <td>{{fatura.nomeEmpresa}}</td>
                        <td>{{fatura.valor}}</td>
                        <td>{{fatura.dataVencimento | date: 'dd/MM/yyyy'}}</td>
                        <td>{{fatura.pago}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
